
html {
	height: 100%;
}

body 
{
	font-family: monospace;
	font-size: 20px;
	text-transform: uppercase;
	color: #2AE029;
	background: #000;
	height: 100%;
}

.column 
{	
	display: inline;
	float: left;	
	padding: 20px;
}

.option {	
	cursor: pointer;	
}

.option.hover
{	
	color: #000;
	background: #2AE029;	
}

.results h1 
{	
	text-align: center;
	position: absolute;
	top: 50%;
	height: 30px;
	width: 100%;
	margin-top: -15px;
}

.square 
{
	display: inline-block;
	width: 10px;
	height: 50px;
	background: #2AE029;
	margin: 2px;
}

a {
	color: #FFFFFF;
	text-decoration: none;
	text-transform: none;
}